table {
    border-collapse: collapse;
    width: 400px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#searchCustomer{
    margin: 0px 0px 10px 0px;
    width: 200px;
    height: 30px;
}